/* Inserta tu codigo aqui */
/**{
	outline: 1px solid red;

}*/
.col-xs-12{
	background-color: #DDD7CB;
}
.list-menu{
	background: #DDD7CB;
}
.col-xs-3{
	text-align: center;
	background: #D8D8D8;
}
.logo{
	height: 70px;
}
.list-menu li {
	display: inline-block;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
}
.list-menu a {
	color:white;
	font-family: "Roboto", sans-serif;
	transition:all 0.5s;
}
.list-menu img:hover{
	text-decoration: none;
    background: #ED9818;
    transform: scale(1.2);
}
.list-menu a:hover{
	text-decoration: none;
    background: #ED9818;
    transform: scale(1.2);
}
.banner{
	width: 100%;
	-webkit-filter: blur(3px);
}
.unico{
	color:#ED9818;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 20px;
}
.iconos_carreras li{
	display: inline-block;
	text-align: center;
}
.pregrado{
	padding-top: 20px;
	list-style: none;
}
.pregrado a{
	color:black;
	transition:all 0.5s;
}
.pregrado img:hover{
	background-color: #EFECE7;
    transform: scale(1.2);
}
.noti{
	width: 450px;
	height: 350px;
}
.correo{
	width: 80px;
	height: 30px;
}
.container_general{
	background: #EFECE7;
}
.col-xs-4{
	text-align: center;
}
.footer{
	 background: #95917f;
}
h3{
	color: white;
	padding: 0 20px;
}
.col-xs-2{
	text-align: center;
	margin-top: 12px;
}
