
.container_header{
	background: #FFBF00;
}
.list-nav{
	text-align: center;
}
.list-nav li{
	display: inline-block;
	padding: 35px 0;
}
.list-nav a{
	display: block;
	padding: 5px 20px;
	color:#555555;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: bold;
	transition:all 0.5s;
	border-radius: 20px;
}
.list-nav a:hover{
    text-decoration: none;
    background: #ECECEC;
    transform: scale(1.2)
}
.sub-menu{
	text-align: center;
}
.sub-menu li{
	display: inline-block;
	padding: 0 35px;
}
.sub-menu a{
	display: block;
	padding: 5px 20px;
	color:#555555;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: bold;
	transition:all 0.5s;
	border-radius: 20px;
}
.sub-menu a:hover{
    text-decoration: none;
    background: #ECECEC;
    transform: scale(1.2)
}
.ing{
     width: 450px;
     height: 149px;
}
h2{
	color:#DF0101;
	margin-left:30px; 
}
.col-sm-3 a img{
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}
.noti{
	width: 250px;
}
p{
	text-align: center;
}
.footer{
	background-color: #A4A4A4;
}
h3{
	color: white;
	padding: 0 20px;
}
.col-sm-2{
	text-align: center;
	margin-top: 12px;
}
