.col-xs-12{
	background-color: #DDD7CB;
}
.list-menu{
	background: #DDD7CB;
}
.col-xs-3{
	text-align: center;
	background: #D8D8D8;
}
.logo{
	height: 70px;
}
.list-menu li {
	display: inline-block;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
}
.list-menu a {
	color:white;
	font-family: "Roboto", sans-serif;
	transition:all 0.5s;
}
.list-menu img:hover{
	text-decoration: none;
    background: #ED9818;
    transform: scale(1.2);
}
.list-menu a:hover{
	text-decoration: none;
    background: #ED9818;
    transform: scale(1.2);
}
.banner{
	width: 100%;
	-webkit-filter: blur(3px);
}
.unico{
	color:#ED9818;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 20px;
}
.list-nav{
	text-align: center;
}
.list-nav li{
	display: inline-block;
	padding: 20px 0;
}
.list-nav a{
	display: block;
	padding: 5px 10px;
	color:#555555;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: bold;
	transition:all 0.5s;
	border-radius: 20px;
}

.container_autoridades .parrafo-autoridades img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-autoridades{
	text-align: justify;
	margin-right: 30px;
}
.container_vice .parrafo-vice img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-vice{
	text-align: justify;
	margin-right: 30px;
}
.container_vicead .parrafo-vicead img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-vicead{
	text-align: justify;
	margin-right: 30px;
}
.luis{
	width: 225px;
	height: 230px;
}
.footer{
	background-color:#95917f;
}
h3{
	color: white;
	padding: 0 20px;
}
.col-xs-2{
	text-align: center;
	margin-top: 12px;
}
