/* Inserta tu codigo aqui */
/**{
	outline: 1px solid red;

}*/
.col-xs-12{
	background-color: #DDD7CB;
}
.list-menu{
	background: #DDD7CB;
}
.col-xs-3{
	text-align: center;
	background: #D8D8D8;
}
.logo{
	height: 70px;
}
.list-menu li {
	display: inline-block;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
}
.list-menu a {
	color:white;
	font-family: "Roboto", sans-serif;
	transition:all 0.5s;
}
.list-menu img:hover{
	text-decoration: none;
    background: #ED9818;
    transform: scale(1.2);
}
.list-menu a:hover{
	text-decoration: none;
    background: #ED9818;
    transform: scale(1.2);
}
.banner{
	width: 100%;
	height: 500px;
}
.footer{
	 background: #D8D8D8;
}
h3{
	color: white;
	padding: 0 20px;
}
.col-sm-2{
	text-align: center;
	margin-top: 12px;
}