/* Inserta tu codigo aqui */
/**{
	outline: 1px solid red;

}*/
.col-xs-12{
	background-color: #DDD7CB;
}
.list-menu{
	background: #DDD7CB;
}
.col-xs-3{
	text-align: center;
	background: #D8D8D8;
}
.logo{
	height: 70px;
}
.list-menu li {
	display: inline-block;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
}
.list-menu a {
	color:white;
	font-family: "Roboto", sans-serif;
	transition:all 0.5s;
}
.list-menu img:hover{
	text-decoration: none;
    background: #ED9818;
    transform: scale(1.2);
}
.list-menu a:hover{
	text-decoration: none;
    background: #ED9818;
    transform: scale(1.2);
}
.banner{
	width: 100%;
	-webkit-filter: blur(3px);
}
.unico{
	color:#ED9818;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 20px;
}
.container_header{
	background: #FFBF00;
}
.list-nav{
	text-align: center;
}
.list-nav li{
	display: inline-block;
	padding: 20px 0;
}
.list-nav a{
	display: block;
	padding: 5px 10px;
	color:#555555;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: bold;
	transition:all 0.5s;
	border-radius: 20px;
}
.list-nav a:hover{
    text-decoration: none;
    background: #ECECEC;
    transform: scale(1.2)
}
.sub-menu{
	text-align: center;
}
.sub-menu li{
	display: inline-block;
	padding: 0 35px;
}
.sub-menu a{
	display: block;
	padding: 5px 20px;
	color:#555555;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: bold;
	transition:all 0.5s;
	border-radius: 20px;
}
.sub-menu a:hover{
    text-decoration: none;
    background: #ECECEC;
    transform: scale(1.2)
}
.ing{
     width: 450px;
     height: 149px;
}
h2{
	color:#DF0101;
	margin-left:30px; 
}

.container_docentes .parrafo-docentes img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-docentes{
	text-align: justify;
	margin-right: 30px;
}
.container_erik .parrafo-erik img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-erik{
	text-align: justify;
	margin-right: 30px;
}
.container_fredy .parrafo-fredy img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-fredy{
	text-align: justify;
	margin-right: 30px;
}
.doc{
	border-radius: 100%;
}
.container_gonzalo .parrafo-gonzalo img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-gonzalo{
	text-align: justify;
	margin-right: 30px;
}
.container_greta .parrafo-greta img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-greta{
	text-align: justify;
	margin-right: 30px;
}
.container_johann .parrafo-johann img{
	float: left;
	width: 200px;
	margin-right: 15px;
	margin-left: 30px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.parrafo-johann{
	text-align: justify;
	margin-right: 30px;
}
.footer{
	background-color: #95917f;
}
h3{
	color: white;
	padding: 0 20px;
}
.col-xs-2{
	text-align: center;
	margin-top: 12px;
}
